# Create a copy of this file, removing .dist
# Add your login credentials
# Do NOT check your copy into source control

url=https://www.wa-staging.net/v4cgi/login.pl

userId=
password=
implicitTimeout=120
